{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Sorry, you cannot have a juggling license
      </h1>

      <p>Soz. It's me, not you, promise.</p>

      <<img src="https://media.giphy.com/media/cnp5B63gSse2c/giphy.gif" alt="flying-unicorn">

    </div>
  </div>

{% endblock %}
